## Import

In [1]:
import pandas as pd
import numpy as np

https://data.cdc.gov/Case-Surveillance/United-States-COVID-19-Cases-and-Deaths-by-State-o/9mfq-cb36

In [2]:
df = pd.read_csv('data/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv')
df

      submission_date state  tot_cases  tot_death        created_at
0           1/25/2020    OR          0          0   3/26/2020 16:22
1           7/23/2020    KY      25147        684   7/24/2020 14:18
2            2/1/2021    DC      37008        916    2/2/2021 14:51
3           1/10/2021    AZ     618546      10141   1/11/2021 15:01
4            2/2/2021    IL    1130917      21336    2/3/2021 14:55
...               ...   ...        ...        ...               ...
28315        2/9/2020    WA          1          0   3/26/2020 16:22
28316      10/11/2020    CT      60038       4530  10/12/2020 14:07
28317        2/9/2020    CA          6          0   3/26/2020 16:22
28318        4/2/2020    WA       5683        261    4/1/2020 16:22
28319       7/31/2020    ME       3937        123    8/1/2020 14:38

[28320 rows x 5 columns]

## Cleaning

In [3]:
df.drop(columns=['created_at'], inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28320 entries, 0 to 28319
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   submission_date  28320 non-null  object
 1   state            28320 non-null  object
 2   tot_cases        28320 non-null  int64
 3   tot_death        28320 non-null  int64
dtypes: int64(2), object(2)
memory usage: 885.1+ KB

### state

The 'state' feature has the 50 states plus these other 10 categories:  
> AS = American Samoa  
> DC = District of Columbia  
> FSM = Federated States of Micronesia  
> GU = Guam  
> MP = Northern Mariana Islands  
> NYC = New York City  
> PR = Puerto Rico  
> PW = Palau  
> RMI = Marshall Islands  
> VI = Virgin Islands

In [42]:
other_territories = ['AS', 'FSM', 'GU', 'MP', 'PR', 'PW', 'RMI', 'VI']
df = df[~df['state'].isin(other_territories)]

df['state'] = df['state'].replace('NYC','NY')

The 'state' feature now includes the 50 states plus DC